NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54331
NEXT_PUBLIC_SUPABASE_ANON_KEY=
APIFY_TOKEN=
APIFY_POSTS_ACTOR_ID=harvestapi~linkedin-profile-posts
APIFY_PROFILE_ACTOR_ID=harvestapi~linkedin-profile-scraper
APIFY_REACTIONS_ACTOR_ID=harvestapi~linkedin-profile-reactions
APIFY_COMMENTS_ACTOR_ID=harvestapi~linkedin-profile-comments
APIFY_COMPANY_ACTOR_ID=harvestapi~linkedin-company
APIFY_COMPANY_POSTS_ACTOR_ID=harvestapi~linkedin-company-posts
APIFY_COMPANY_EMPLOYEES_ACTOR_ID=harvestapi~linkedin-company-employees
APIFY_MAX_POSTS=100
APIFY_MAX_REACTIONS=50
APIFY_MAX_COMMENTS=50
APIFY_MAX_EMPLOYEES=100

ABACATEPAY_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAILS=
